################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/WS-2022/v17/.suo
/.vs/slnx.sqlite
